.navbar {
 position: sticky;
 top: 0;
 z-index: 2;
}

.navbar-brand {
 background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}